h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-second {
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-menu {
  display: flex;
}

.modal-btn {
  font-family: inherit;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--maincolorwhite);
  background: var(--maincoloreff);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 250ms var(--trainsition-timing-function);
}

.footer-form {
  margin-left: auto;
}

.footer-form-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--maincolorwhite);
  margin-bottom: 20px;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--maincolorherofooter);
  padding-left: 16px;
  color: var(--maincolorwhite);
}

.footer-form-btn {
  display: flex;
  width: 200px;
  height: 50px;
  background: var(--maincoloreff);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  font-weight: bold;
  color: var(--maincolorwhite);
  cursor: pointer;
  margin-left: 12px;
}

.footer-form-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--maincolorwhite);
}

.footer-form-holder {
  display: flex;
  justify-content: space-between;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--maincolorblack);
  margin-bottom: 12px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms var(--trainsition-timing-function);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--maincoloreff);
}

.modal-form-input:focus:focus + .modal-form-icon {
  fill: var(--maincoloreff);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--maincolorsilver);
  margin-bottom: 10px;
}

.modal-form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--maincolorblack);
  transition: fill 250ms var(--trainsition-timing-function);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--maincoloreff);
  transition: border-color 250ms var(--trainsition-timing-function);
}

.modal-form-message:focus::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(..//images/iconcheck.svg);
  background-color: var(--maincoloreff);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: padding-box;
  border: none;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before:focus + .modal-form-checkbox:checked + .modal-form-checkbox-label::before::before {
  border-color: var(--maincoloreff);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before:focus + .modal-form-checkbox:checked + .modal-form-checkbox-label::before::before::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-checkbox-label {
  display: flex;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-label-link {
  color: var(--maincoloreff);
  text-decoration: underline;
  margin-left: 8px;
}

.modal-form-btn {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--maincolorwhite);
  letter-spacing: 0.06em;
  border: transparent;
  background: var(--maincoloreff);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background: #188ce8;
  transition: background 250ms var(--trainsition-timing-function);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-icon {
  width: 20px;
  height: 20px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--clientsbordercolor);
  transition: background-color 250ms var(--trainsition-timing-function), fill 250ms var(--trainsition-timing-function);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--maincoloreff);
  fill: var(--maincolorwhite);
}

.socialfooter-list {
  display: flex;
}

.socialfooter-list-item:not(:last-child) {
  margin-right: 10px;
}

.socialfooter-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--maincolorwhite);
  cursor: pointer;
}

.socialfooter-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--socialfootercolor);
  transition: background-color 250ms var(--trainsition-timing-function), fill 250ms var(--trainsition-timing-function);
}

.socialfooter-list-link:hover, .socialfooter-list-link:focus {
  background-color: var(--maincoloreff);
}

.advantages-items-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--maincolorblack);
  margin-bottom: 10px;
}

.advantages-items-name-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--maincolorsilver);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.advantages-items {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.advantages-vector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: var(--maincolorbtteam);
  border-radius: 4px;
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms var(--trainsition-timing-function), visibility 250ms var(--trainsition-timing-function);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--maincolorwhite);
  transform: translate(-50%, -50%);
  padding: 40px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn-icon {
  width: 11px;
  fill: var(--maincolorblack);
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  fill: var(--maincoloreff);
}

.clients-main-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-container {
  text-align: center;
}

.clients-menu {
  display: flex;
  justify-content: space-between;
}

.clients-list {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  fill: var(--clientsbordercolor);
  cursor: pointer;
}

.client-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clientsbordercolor);
  border-radius: 4px;
  fill: var(--clientsbordercolor);
  transition: border-color 250ms var(--trainsition-timing-function), fill 250ms var(--trainsition-timing-function);
}

.client-link:hover .icon-color,
.client-link:focus .icon-color {
  border-color: var(--maincoloreff);
  fill: var(--maincoloreff);
  transition: fill 250ms var(--trainsition-timing-function);
}

.client-link:hover .icon-color:hover, .client-link:hover .icon-color:focus,
.client-link:focus .icon-color:hover,
.client-link:focus .icon-color:focus {
  border-color: var(--maincoloreff);
}

.footer {
  background: var(--maincolorherofooter);
  padding: 60px 0;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--maincolorwhite);
}

.footer .logo-footer {
  display: block;
  margin-bottom: 20px;
}

.address-main {
  font-style: normal;
}

.address-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--maincolorwhite);
}

.address-list-link:hover, .address-list-link:focus {
  color: var(--maincoloreff);
}

.address-list-items:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.address-list-link-second {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--maincolorsilver);
}

.address-list-link-second:hover, .address-list-link-second:focus {
  color: var(--maincoloreff);
}

.footer-main {
  display: flex;
  align-items: baseline;
}

.footer-main-left {
  margin-right: 70px;
}

.footer-subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--maincolorwhite);
  margin-bottom: 20px;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--maincolorblack);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms var(--trainsition-timing-function);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--maincoloreff);
}

.menu-link.current {
  color: var(--maincoloreff);
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.current::after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--maincoloreff);
  border-radius: 2px;
  left: 0;
  bottom: 0;
}

.contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--maincolorsilver);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--trainsition-timing-function);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--maincoloreff);
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-item {
  display: flex;
  align-items: center;
  color: var(--maincolorsilver);
}

.svg-logo {
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms var(--trainsition-timing-function);
}

.contacts-link:hover .svg-logo,
.contacts-link:focus .svg-logo {
  fill: var(--maincoloreff);
}

.logo {
  margin-right: 94px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--maincolorblack);
}

.logo-style {
  color: var(--maincoloreff);
}

.header {
  border-bottom: 1px solid var(--borderheadercolor);
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--maincolorwhite);
  margin-bottom: 40px;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero {
  background-color: var(--maincolorherofooter);
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-main.jpg);
  background-size: cover;
}

.main-modal-buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.main-modal-buttons-item:not(:last-child) {
  margin-right: 8px;
}

.modal-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--maincolorblack);
  background-color: var(--maincolorbtteam);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms var(--trainsition-timing-function), color 250ms var(--trainsition-timing-function);
}

.modal-button:hover, .modal-button:focus {
  color: var(--maincolorwhite);
  background: var(--maincoloreff);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms var(--trainsition-timing-function);
}

.main-images-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--maincolorblack);
}

.main-images-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--maincolorsilver);
}

.main-images-items-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.main-images-items-item {
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 30px;
  cursor: pointer;
}

.galery-box {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--borderportfoliocolor);
  border-top: none;
}

.shadow-items {
  display: block;
  position: relative;
  transition: box-shadow 250ms var(--trainsition-timing-function);
}

.shadow-items:hover, .shadow-items:focus {
  box-shadow: var(--box-shadow);
}

.shadow-items:hover:hover .overlay,
.shadow-items:hover:focus .overlay, .shadow-items:focus:hover .overlay,
.shadow-items:focus:focus .overlay {
  transform: translateY(0%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  color: var(--maincolorwhite);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--maincolorwhite);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms var(--trainsition-timing-function);
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.team {
  background: var(--maincolorbtteam);
}

.team-main-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--maincolorblack);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list-items {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  background: var(--maincolorwhite);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-items-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--maincolorblack);
  margin-bottom: 10px;
}

.team-list-items-name-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--maincolorsilver);
  margin-bottom: 16px;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.whatwedo-main-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--maincolorblack);
  margin-bottom: 50px;
}

.whatwedo-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.whatwedo-list-items {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.whatwedo-description {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatwedo-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--maincolorwhite);
}

:root {
  --maincoloreff: #2196f3;
  --maincolorblack: #212121;
  --maincolorsilver: #757575;
  --maincolorwhite: #ffffff;
  --maincolorbtteam: #f5f4fa;
  --maincolorherofooter: #2f303a;
  --borderheadercolor: #ececec;
  --borderportfoliocolor: #eeeeee;
  --clientsbordercolor: #afb1b8;
  --socialfootercolor: rgba(255, 255, 255, 0.1);
  --box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --trainsition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */